/* UNIVERSAL */

.main-head {
    width: 66.1%;
    margin: 0 auto;
}

.elevation-high {
    z-index: 10;
}

.main-para {
    position: absolute;
    max-width: 669px;
    right: 0;
}

.sub-para {
    max-width: 236px;
}

.sub-para-container {
    display: block;
    position: absolute;
    width: 100%;
    text-align:center;
}

.fc-image-container {
    width: 100%;
    max-width: 669px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.social-container {
    text-align:center;
    width:100%;
    margin: 0 auto;
}

.social-container .social img {
    width: 16px;
    align: middle;
    margin: 10px 0 10px 0;
}


.skills-icon {
    max-width: 40px;
    margin-top: -6px; 
}

.img-width-large {
    max-width: 475px;
    margin: 0 auto;
}

.img-width-medium {
    max-width: 366px;
    margin: 0 auto;
}

.img-width-small {
    max-width: 245px; 
    margin: 0 auto;
}

.fc-icon {
    max-width: 50px;
    margin-bottom: 25px;
}

.fc-bullet-section {
    margin-left: 3.2%
}

.fc-bullet-section p {
    margin-bottom:20px;
}

.fc-bullet-icon {
    width: 24px;
    margin-right: 12px;
}

.fc-block-icon {
    max-width: 138px;
    margin: 0 auto;
}

.fc-block-icon-p {
    max-width: 300px;
    margin: 0 auto;
}

.fc-axil-container {
    max-width: 612px;
}

.fc-make-front {
    z-index: 1000 !important; 
}

.fc-btn, .fc-btn-case {
    position: relative;
    display: inline-block;
    padding: 16px 36px;
    color: #fff;
    font-size: 1.2rem;
    letter-spacing: 2px;
    border-radius: 50px;
    outline: none;
    border: 1px solid #fff;
    cursor: pointer;
    box-sizing: border-box;
}

.fc-btn {
    background: linear-gradient(90deg, #ffffff14, #ffffff14, #E289FF, #82E0FF);
    background-size: 400%;
    transition: all ease-in 0.5s;
    transition: color ease-out 0.3s;
}


.fc-btn-case {
    background: #ffffff0d;
    transition: all ease-in 0.3s;
}

.fc-btn-case:hover {
    background-color: #abc6ff2c;
    border: 1px solid #ffffffd6;    
    color: #ffffff !important;
}

.fc-btn:hover {
    animation: changeGradientAnimation 0.7s linear;
    animation-fill-mode: forwards;
    color: #000 !important;
    
}




      @keyframes changeGradientAnimation {
        0% {
          background-position: 0%;
        }
        100% {
          background-position: 100%;
        }
    }

.fc-social {
    background: none !important;
    padding-top: 0 !important;
}

.linklight a {
    color: #fff !important;
}

.linkdark a {
    color: #262B36 !important;
}

.lightservices {
    border: 1px solid rgba(255, 255, 255, 0.2) !important;
    color: #fff !important;
}


/* Dark Mode */

.darkhome-body {
    background-image: url('/img/fc-static-back.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}



.circle-accent {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 20px;
    background: linear-gradient(180deg, rgba(121, 127, 143, 0.1) 0%, rgba(255, 255, 255, 0.01) 100%);
    clip-path: ellipse(311px 320px at 0% 0%);
}

.fc-dbg-gradient-gray {
    background: radial-gradient(117.58% 117.58% at 50% 50%, #2B2F3C 0%, #000000 100%);
}

.fc-dbg-gray-opacity {
    background: rgba(225, 225, 225, .05); 
}

.fc-dbg-light-gray {
    background: #262B36;
}

.fc-dbg-dark-gray {
    background: linear-gradient(180deg, #16181E 0%, #171a21 54.7%, #16181E 100%);
}

.fc-dbg-alt-gray {
    background: linear-gradient(180deg, #16181E 0%, #21242E 54.7%, #16181E 100%);
}

.fc-dbg-just-dark-gray {
    background: #16181E;
}

.fc-main-k2-background {
    background-image: url('/img/case-studies/main-complete-app-redesign3.png');
    background-size: 1259px;
    background-repeat: no-repeat;
    background-position: bottom;
    min-height: 914px;
}

.fc-axil-background {
    background-image: url('/img/case-studies/axil-header-background.png');
    min-height: 460px;
    color: #fff;
    margin-top:80px;
    background-size: cover;
    background-repeat: no-repeat;
}

.fc-quest-background {
    background: radial-gradient(117.58% 117.58% at 50% 50%, #3C3E54 0%, #141414 100%);
    color: #fff;
    margin-top: 80px;
}

.fc-search-background {
    background-image: url('/img/case-studies/search-background.png');
    min-height: 460px;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Light Mode */

.social-light {
    border: 1px solid #111;

}

.fc-lbg-gradient-grey {
    background: radial-gradient(117.58% 117.58% at 50% 50%, #FFFFFF 0%, #E7E7E7 100%);
}

.fc-lbg-dark-gray {
    background: linear-gradient(180deg, #F2F2F2 -0.29%, #FAFAFA 2.99%, #FFFFFF 49.99%, #FAFAFA 97.49%, #F1F1F1 100.49%);

}

.fc-lbg-inverse {
    background-color: #262B36;;
    color: #fff;
}

.fc-lbg-inverse p {
    color: #fff;
    opacity: 0.9;
}

.search-colors {
    border-color: #0290A4 !important;
}

.quest-colors {
    border-color: #4F3B90 !important;
}

.alt-item-box {
    box-shadow: inset 0 1px 2px #00000026, 0 6px 18px #00000026;
    padding: 18px 18px 18px 28px;
    border-radius: 12px;
    border-left: 10px solid #268C7D;
    background-color: #fff;
}


/* Break-points */

@media screen and (max-width: 991px) {}

@media screen and (max-width: 767px) {}

@media screen and (max-width: 768px) {}

@media (max-width: 991px) {

.margin-more-b {
    margin-bottom: 40px;
}

.margin-more-t {
    margin-top: 40px;
}

.padding-more-b {
    padding-bottom: 40px;
}

.padding-more-t {
    padding-top: 40px;
}

.mt-30 {
    margin-top: 10px !important;
}

.mb-60 {
    margin-bottom: 40px !important;
}

.fc-btn {
    font-size: 1rem;
}

.sec-head {
    margin: 0 auto 40px;
}

.section-padding {
    padding: 80px 0;
}

.cont {
    text-align: center;
}

.img {
    margin: 0 auto;
}

.center-small {
    width: 100%;
    text-align:center;
}

.portfolio .gallery .items .cont {
    margin-top: 16px;
    margin-bottom:16px;

}

.small-background {
    background: rgba(225, 225, 225, .09);
}

.circle-blur {
    display: none;
}

.navbar-toggler {
    margin-left: auto;
}

.item-box {
    text-align: center!important;
}

.item-box .icon {
    width: 60px !important;
    height: 60px !important;
}

.skills-icon {
    max-width: 24px;
    margin-top: -26px;
}

.services.lficon .item-box {
    padding: 34px;
}

.hide-margin-top {
    margin-top: 0px !important;
}

.hide-on-mobile {
    display: none;
}

.mb-70 {
    margin-bottom: 40px !important;
}

.mb-80 {
    margin-bottom: 40px !important;
}

.app-services .item {
    padding: 34px;
}

.fc-icon {
    max-width: 40px;
}

.img-width-medium {
    max-width: 275px;
}

.fc-main-k2-background {
    min-height: 970px;
}

}